h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#cube .front {
  transform: 
    translateZ(100px);
    background-image: url("../image/1-cop.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

#cube .back {
  transform: 
    rotateX(-180deg)
    translateZ(100px);
    background-image: url("../image/2-bau.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

#cube .right {
  transform:
    rotateY(90deg)
    translateZ(100px);
    background-image: url("../image/3-ga.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

#cube .left {
  transform:
    rotateY(-90deg)
    translateZ(100px);
    background-image: url("../image/4-tom.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

#cube .top {
  transform:
    rotateX(90deg)
    translateZ(100px);
    background-image: url("../image/5-ca.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

#cube .bottom {
  transform:
    rotateX(-90deg)
    translateZ(100px);
    background-image: url("../image/6-cua.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.container {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto 250px;
  border: 1px solid #FFF;
  perspective: 1000px;
  perspective-origin: 50% 100%;
}

#cube {
  width: 100%;
  height: 100%;
  top: 150px;
  position: absolute;
  
  transform-style: preserve-3d;
  
  transition: transform 6s;
}

#cube:hover {
  cursor: pointer;
}

#cube div {
  background: hsla(0, 0%, 100%, 0.8);
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid #150202;
  
  margin: 0 auto;  
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 500%;
  text-align: center;
  padding: 50px 0;
}

.dot {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 15px;  
}

.front {
  background-image: url("../image/1-cop.jpg");
  background-color: #cccccc;
 }
.back  { 
  background-image: url("../image/2-bau.jpg");
  background-color: #cccccc; }
.right  { 
  background-image: url("../image/3-ga.jpg");
  background-color: #cccccc; }
.left  { 
  background-image: url("../image/4-tom.jpg");
  background-color: #cccccc; }
.top  { 
  background-image: url("../image/5-ca.jpg");
  background-color: #cccccc; }
.bottom { 
  background-image: url("../image/6-cua.jpg");
  background-color: #cccccc; 
}
